<a href="https://colab.research.google.com/github/imdasrj98/Predictive-Analysis-on-Road-Accident-Risks-Based-on-Heterogeneous-Sparse-Data/blob/master/us_accident_preprocess.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#run this cell if working in colabs

%cd "/content/drive/My Drive/kaggle/data_mining"

/content/drive/My Drive/kaggle/data_mining

In [0]:
#initial libraries loading

import pandas as pd
import numpy as np
import sklearn

In [0]:
#data loading

df=pd.read_csv("US_Accidents_Dec19.csv")

In [4]:
df.head()

    ID    Source    TMC  ...  Civil_Twilight Nautical_Twilight Astronomical_Twilight
0  A-1  MapQuest  201.0  ...           Night             Night                 Night
1  A-2  MapQuest  201.0  ...           Night             Night                   Day
2  A-3  MapQuest  201.0  ...           Night               Day                   Day
3  A-4  MapQuest  201.0  ...             Day               Day                   Day
4  A-5  MapQuest  201.0  ...             Day               Day                   Day

[5 rows x 49 columns]

In [5]:
#checking the columns

df.columns

Index(['ID', 'Source', 'TMC', 'Severity', 'Start_Time', 'End_Time',
       'Start_Lat', 'Start_Lng', 'End_Lat', 'End_Lng', 'Distance(mi)',
       'Description', 'Number', 'Street', 'Side', 'City', 'County', 'State',
       'Zipcode', 'Country', 'Timezone', 'Airport_Code', 'Weather_Timestamp',
       'Temperature(F)', 'Wind_Chill(F)', 'Humidity(%)', 'Pressure(in)',
       'Visibility(mi)', 'Wind_Direction', 'Wind_Speed(mph)',
       'Precipitation(in)', 'Weather_Condition', 'Amenity', 'Bump', 'Crossing',
       'Give_Way', 'Junction', 'No_Exit', 'Railway', 'Roundabout', 'Station',
       'Stop', 'Traffic_Calming', 'Traffic_Signal', 'Turning_Loop',
       'Sunrise_Sunset', 'Civil_Twilight', 'Nautical_Twilight',
       'Astronomical_Twilight'],
      dtype='object')

In [6]:
# checking how many missing values for each column

df.isnull().sum()

ID                             0
Source                         0
TMC                       728071
Severity                       0
Start_Time                     0
End_Time                       0
Start_Lat                      0
Start_Lng                      0
End_Lat                  2246264
End_Lng                  2246264
Distance(mi)                   0
Description                    1
Number                   1917605
Street                         0
Side                           0
City                          83
County                         0
State                          0
Zipcode                      880
Country                        0
Timezone                    3163
Airport_Code                5691
Weather_Timestamp          36705
Temperature(F)             56063
Wind_Chill(F)            1852623
Humidity(%)                59173
Pressure(in)               48142
Visibility(mi)             65691
Wind_Direction             45101
Wind_Speed(mph)           440840
Precipitation(in)        1998358
Weather_Condition          65932
Amenity                        0
Bump                           0
Crossing                       0
Give_Way                       0
Junction                       0
No_Exit                        0
Railway                        0
Roundabout                     0
Station                        0
Stop                           0
Traffic_Calming                0
Traffic_Signal                 0
Turning_Loop                   0
Sunrise_Sunset                93
Civil_Twilight                93
Nautical_Twilight             93
Astronomical_Twilight         93
dtype: int64

In [0]:
# making a copy of the original dataframe for safety purpose

df1=df

**Split Date Attributes**

In [9]:
#Split the timestamp into day, month, year, hour

df1['Start_Time'] = pd.to_datetime(df1['Start_Time'], format = '%Y/%m/%d %H:%M:%S')
df1['Start_Time'] = pd.to_datetime(df1['Start_Time'],errors='coerce')
column_1=df1.ix[:,4]
db=pd.DataFrame({"year": column_1.dt.year,
              "month": column_1.dt.month,
              "day": column_1.dt.day,
              "hour": column_1.dt.hour,
             })
df1=df1.drop('Start_Time',axis=1)
df1=pd.concat([db,df1],axis=1)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated
  after removing the cwd from sys.path.

**Handling Missing Values**

In [0]:
# drop the unnessesary rows

df1=df1.drop(['TMC', 'End_Time', 'End_Lat', 'End_Lng', 'Distance(mi)', 'Description', 'Number', 'Timezone', 'Airport_Code', 'Weather_Timestamp'], axis=1)

In [11]:
# after dropping check the column names

df1.columns

Index(['year', 'month', 'day', 'hour', 'ID', 'Source', 'Severity', 'Start_Lat',
       'Start_Lng', 'Street', 'Side', 'City', 'County', 'State', 'Zipcode',
       'Country', 'Temperature(F)', 'Wind_Chill(F)', 'Humidity(%)',
       'Pressure(in)', 'Visibility(mi)', 'Wind_Direction', 'Wind_Speed(mph)',
       'Precipitation(in)', 'Weather_Condition', 'Amenity', 'Bump', 'Crossing',
       'Give_Way', 'Junction', 'No_Exit', 'Railway', 'Roundabout', 'Station',
       'Stop', 'Traffic_Calming', 'Traffic_Signal', 'Turning_Loop',
       'Sunrise_Sunset', 'Civil_Twilight', 'Nautical_Twilight',
       'Astronomical_Twilight'],
      dtype='object')

In [12]:
#now again checking amount of missing values for each column

df1.isnull().sum()

year                           0
month                          0
day                            0
hour                           0
ID                             0
Source                         0
Severity                       0
Start_Lat                      0
Start_Lng                      0
Street                         0
Side                           0
City                          83
County                         0
State                          0
Zipcode                      880
Country                        0
Temperature(F)             56063
Wind_Chill(F)            1852623
Humidity(%)                59173
Pressure(in)               48142
Visibility(mi)             65691
Wind_Direction             45101
Wind_Speed(mph)           440840
Precipitation(in)        1998358
Weather_Condition          65932
Amenity                        0
Bump                           0
Crossing                       0
Give_Way                       0
Junction                       0
No_Exit                        0
Railway                        0
Roundabout                     0
Station                        0
Stop                           0
Traffic_Calming                0
Traffic_Signal                 0
Turning_Loop                   0
Sunrise_Sunset                93
Civil_Twilight                93
Nautical_Twilight             93
Astronomical_Twilight         93
dtype: int64

In [13]:
#checking how many rows in the dataset

df1.shape

(2974335, 42)

In [0]:
# dropping rows with missing values for few cokumns

df1=df1.dropna(how='any', subset=['City', 'Zipcode', 'Weather_Condition', 'Sunrise_Sunset', 'Civil_Twilight', 'Wind_Direction', 'Nautical_Twilight', 'Astronomical_Twilight'])

In [15]:
#after dropping rows checking the size

df1.shape

(2902972, 42)

In [16]:
#now again checking amount of missing values for each column

df1.isnull().sum()

year                           0
month                          0
day                            0
hour                           0
ID                             0
Source                         0
Severity                       0
Start_Lat                      0
Start_Lng                      0
Street                         0
Side                           0
City                           0
County                         0
State                          0
Zipcode                        0
Country                        0
Temperature(F)              9181
Wind_Chill(F)            1785404
Humidity(%)                12218
Pressure(in)                3243
Visibility(mi)              6838
Wind_Direction                 0
Wind_Speed(mph)           379420
Precipitation(in)        1937830
Weather_Condition              0
Amenity                        0
Bump                           0
Crossing                       0
Give_Way                       0
Junction                       0
No_Exit                        0
Railway                        0
Roundabout                     0
Station                        0
Stop                           0
Traffic_Calming                0
Traffic_Signal                 0
Turning_Loop                   0
Sunrise_Sunset                 0
Civil_Twilight                 0
Nautical_Twilight              0
Astronomical_Twilight          0
dtype: int64

In [0]:
#import linear regression module from sklearn library

from sklearn.linear_model import LinearRegression
model=LinearRegression()

In [0]:
#casting str type to float type for day, month, year, hour

df1.year=df1.year.astype('float64')
df1.month=df1.month.astype('float64')
df1.day=df1.day.astype('float64')
df1.hour=df1.hour.astype('float64')

In [0]:
#making a copy for safety

d=df1

In [0]:
#defining the regression function for filing the missing values

def regression_fill(df1, y):
  print("doing for ", y)
  df2=df1[df1[y].isnull()]
  df1=df1.dropna(subset=[y])
  model.fit(df1[['year', 'month', 'day', 'hour', 'Start_Lat', 'Start_Lng']], df1[y])
  Y=model.predict(df2[['year', 'month', 'day', 'hour', 'Start_Lat', 'Start_Lng']])
  df2=df2.drop([y], axis=1)
  df2[y]=Y
  df1=pd.concat([df1, df2])
  return df1

In [21]:
#filling the missing values of the rows for columns in the target list

targets=['Temperature(F)', 'Wind_Chill(F)', 'Humidity(%)', 'Pressure(in)', 'Visibility(mi)', 'Wind_Speed(mph)']
for t in targets:
  df1=regression_fill(df1, t)

doing for  Temperature(F)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:10: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  # Remove the CWD from sys.path while we load stuff.

doing for  Wind_Chill(F)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:10: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  # Remove the CWD from sys.path while we load stuff.

doing for  Humidity(%)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:10: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  # Remove the CWD from sys.path while we load stuff.

doing for  Pressure(in)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:10: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  # Remove the CWD from sys.path while we load stuff.

doing for  Visibility(mi)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:10: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  # Remove the CWD from sys.path while we load stuff.

doing for  Wind_Speed(mph)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:10: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  # Remove the CWD from sys.path while we load stuff.

In [0]:
#replacing missing values of precipitation with 0 as they represent no precipition

df1['Precipitation(in)'].fillna(0, inplace=True)

In [23]:
#now checking for missing values which shows there is no missing value

df1.isnull().sum()

Amenity                  0
Astronomical_Twilight    0
Bump                     0
City                     0
Civil_Twilight           0
Country                  0
County                   0
Crossing                 0
Give_Way                 0
Humidity(%)              0
ID                       0
Junction                 0
Nautical_Twilight        0
No_Exit                  0
Precipitation(in)        0
Pressure(in)             0
Railway                  0
Roundabout               0
Severity                 0
Side                     0
Source                   0
Start_Lat                0
Start_Lng                0
State                    0
Station                  0
Stop                     0
Street                   0
Sunrise_Sunset           0
Temperature(F)           0
Traffic_Calming          0
Traffic_Signal           0
Turning_Loop             0
Visibility(mi)           0
Weather_Condition        0
Wind_Chill(F)            0
Wind_Direction           0
Wind_Speed(mph)          0
Zipcode                  0
day                      0
hour                     0
month                    0
year                     0
dtype: int64

**Converting all categorical value to numerical value**

In [24]:
#checking datatype of each column

df1.dtypes

Amenity                     bool
Astronomical_Twilight     object
Bump                        bool
City                      object
Civil_Twilight            object
Country                   object
County                    object
Crossing                    bool
Give_Way                    bool
Humidity(%)              float64
ID                        object
Junction                    bool
Nautical_Twilight         object
No_Exit                     bool
Precipitation(in)        float64
Pressure(in)             float64
Railway                     bool
Roundabout                  bool
Severity                   int64
Side                      object
Source                    object
Start_Lat                float64
Start_Lng                float64
State                     object
Station                     bool
Stop                        bool
Street                    object
Sunrise_Sunset            object
Temperature(F)           float64
Traffic_Calming             bool
Traffic_Signal              bool
Turning_Loop                bool
Visibility(mi)           float64
Weather_Condition         object
Wind_Chill(F)            float64
Wind_Direction            object
Wind_Speed(mph)          float64
Zipcode                   object
day                      float64
hour                     float64
month                    float64
year                     float64
dtype: object

In [0]:
#importing labelencoder module from sklearn

from sklearn.preprocessing import LabelEncoder
encoder=LabelEncoder()

#lable encoding categorical values into numerical values using LabelEncoder

for c in df1.columns:
  if df1[c].dtype=='object' or df1[c].dtype=='bool':
    df1[c]=encoder.fit_transform(df1[c]).astype('int32')

In [26]:
#checking how it looks like after encoding

df1.head()

   Amenity  Astronomical_Twilight  Bump   City  ...  day  hour  month    year
2        0                      0     0  11233  ...  8.0   6.0    2.0  2016.0
3        0                      0     0   2480  ...  8.0   7.0    2.0  2016.0
4        0                      0     0   2480  ...  8.0   7.0    2.0  2016.0
5        0                      0     0  11096  ...  8.0   7.0    2.0  2016.0
6        0                      0     0   2480  ...  8.0   7.0    2.0  2016.0

[5 rows x 42 columns]

In [27]:
#now checking datatypes of each column which shows all are int or float type i.e. numerical

df1.dtypes

Amenity                    int32
Astronomical_Twilight      int32
Bump                       int32
City                       int32
Civil_Twilight             int32
Country                    int32
County                     int32
Crossing                   int32
Give_Way                   int32
Humidity(%)              float64
ID                         int32
Junction                   int32
Nautical_Twilight          int32
No_Exit                    int32
Precipitation(in)        float64
Pressure(in)             float64
Railway                    int32
Roundabout                 int32
Severity                   int64
Side                       int32
Source                     int32
Start_Lat                float64
Start_Lng                float64
State                      int32
Station                    int32
Stop                       int32
Street                     int32
Sunrise_Sunset             int32
Temperature(F)           float64
Traffic_Calming            int32
Traffic_Signal             int32
Turning_Loop               int32
Visibility(mi)           float64
Weather_Condition          int32
Wind_Chill(F)            float64
Wind_Direction             int32
Wind_Speed(mph)          float64
Zipcode                    int32
day                      float64
hour                     float64
month                    float64
year                     float64
dtype: object

In [0]:
#sorting the datfeame based on the original ID and restting the index

df1=df1.sort_values(by=['ID']).reset_index(drop=True)

In [29]:
#checking the final shape of the dataset

df1.shape

(2902972, 42)

In [30]:
#how the preprocessed data looks

df1.head()

   Amenity  Astronomical_Twilight  Bump   City  ...   day  hour  month    year
0        0                      1     0   2480  ...   8.0   5.0    2.0  2016.0
1        0                      0     0  11096  ...   8.0   8.0    2.0  2016.0
2        0                      0     0   2480  ...  11.0   8.0    2.0  2016.0
3        0                      0     0   3038  ...  23.0  10.0    6.0  2016.0
4        0                      0     0  11058  ...   6.0  16.0    1.0  2017.0

[5 rows x 42 columns]

In [0]:
#converting the dataset into csv file

df1.to_csv("preprocessed_data.csv")