<a href="https://colab.research.google.com/github/imdasrj98/Predictive-Analysis-on-Road-Accident-Risks-Based-on-Heterogeneous-Sparse-Data/blob/master/us_accident_training_based_on_weather_conditions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
%cd "/content/drive/My Drive/kaggle/data_mining"

/content/drive/My Drive/kaggle/data_mining

In [3]:
import pandas as pd
import numpy as np
import sklearn
from keras.optimizers import SGD, RMSprop, Adadelta, Adagrad, Adam, Adamax
from keras.models import Sequential
from keras.layers.core import Dense, Activation, Flatten
import keras
from sklearn.model_selection import train_test_split
from keras.utils import to_categorical

Using TensorFlow backend.

In [0]:
df=pd.read_csv('preprocessed_data.csv')

In [5]:
df.head()

   Unnamed: 0  Amenity  Astronomical_Twilight  Bump  ...   day  hour  month    year
0           0        0                      1     0  ...   8.0   5.0    2.0  2016.0
1           1        0                      0     0  ...   8.0   8.0    2.0  2016.0
2           2        0                      0     0  ...  11.0   8.0    2.0  2016.0
3           3        0                      0     0  ...  23.0  10.0    6.0  2016.0
4           4        0                      0     0  ...   6.0  16.0    1.0  2017.0

[5 rows x 43 columns]

In [6]:
df.columns

Index(['Unnamed: 0', 'Amenity', 'Astronomical_Twilight', 'Bump', 'City',
       'Civil_Twilight', 'Country', 'County', 'Crossing', 'Give_Way',
       'Humidity(%)', 'ID', 'Junction', 'Nautical_Twilight', 'No_Exit',
       'Precipitation(in)', 'Pressure(in)', 'Railway', 'Roundabout',
       'Severity', 'Side', 'Source', 'Start_Lat', 'Start_Lng', 'State',
       'Station', 'Stop', 'Street', 'Sunrise_Sunset', 'Temperature(F)',
       'Traffic_Calming', 'Traffic_Signal', 'Turning_Loop', 'Visibility(mi)',
       'Weather_Condition', 'Wind_Chill(F)', 'Wind_Direction',
       'Wind_Speed(mph)', 'Zipcode', 'day', 'hour', 'month', 'year'],
      dtype='object')

In [0]:
data=df[['Astronomical_Twilight', 'Civil_Twilight', 'Humidity(%)', 'Nautical_Twilight', 'Precipitation(in)', 'Pressure(in)', 'Sunrise_Sunset', 'Temperature(F)', 'Visibility(mi)', 'Weather_Condition', 'Wind_Chill(F)', 'Wind_Direction', 'Wind_Speed(mph)', 'Severity']].values

In [0]:
x=data[:, 0: 13]
y=data[:, 13]

In [0]:
xtrain, xtest, ytrain, ytest=train_test_split(x, y, test_size=.2)

In [0]:
ytrain = to_categorical(ytrain.astype('float32'))

In [11]:
model = Sequential()
model.add(Dense(25, input_dim=13, activation= "sigmoid"))
model.add(Dense(50, activation= "sigmoid"))
model.add(Dense(5, activation="sigmoid"))
model.summary()

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:66: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:541: The name tf.placeholder is deprecated. Please use tf.compat.v1.placeholder instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:4432: The name tf.random_uniform is deprecated. Please use tf.random.uniform instead.

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_1 (Dense)              (None, 25)                350
_________________________________________________________________
dense_2 (Dense)              (None, 50)                1300
_________________________________________________________________
dense_3 (Dense)              (None, 5)                 255
=================================================================
Total params: 1,905
Trainable params: 1,905
Non-trainable params: 0
_________________________________________________________________

In [12]:
opt = SGD()
model.compile(loss='categorical_crossentropy', optimizer=opt,  metrics=['accuracy'])

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/optimizers.py:793: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:3576: The name tf.log is deprecated. Please use tf.math.log instead.

In [14]:
model.fit(xtrain, ytrain, nb_epoch=10, batch_size=32)

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/tensorflow_core/python/ops/math_grad.py:1424: where (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where
WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:1033: The name tf.assign_add is deprecated. Please use tf.compat.v1.assign_add instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:1020: The name tf.assign is deprecated. Please use tf.compat.v1.assign instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:3005: The name tf.Session is deprecated. Please use tf.compat.v1.Session instead.

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: UserWarning: The `nb_epoch` argument in `fit` has been renamed `epochs`.
  """Entry point for launching an IPython kernel.

Epoch 1/10
WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:190: The name tf.get_default_session is deprecated. Please use tf.compat.v1.get_default_session instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:197: The name tf.ConfigProto is deprecated. Please use tf.compat.v1.ConfigProto instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:207: The name tf.global_variables is deprecated. Please use tf.compat.v1.global_variables instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:216: The name tf.is_variable_initialized is deprecated. Please use tf.compat.v1.is_variable_initialized instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:223: The name tf.variables_initializer is deprecated. Please use tf.compat.v1.variables_initializer instead.

2322377/2322377 [==============================] - 83s 36us/step - loss: 0.7374 - acc: 0.6711
Epoch 2/10
2322377/2322377 [==============================] - 83s 36us/step - loss: 0.7343 - acc: 0.6711
Epoch 3/10
2322377/2322377 [==============================] - 83s 36us/step - loss: 0.7337 - acc: 0.6711
Epoch 4/10
2322377/2322377 [==============================] - 83s 36us/step - loss: 0.7332 - acc: 0.6711
Epoch 5/10
2322377/2322377 [==============================] - 83s 36us/step - loss: 0.7328 - acc: 0.6711
Epoch 6/10
2322377/2322377 [==============================] - 84s 36us/step - loss: 0.7325 - acc: 0.6711
Epoch 7/10
2322377/2322377 [==============================] - 83s 36us/step - loss: 0.7323 - acc: 0.6711
Epoch 8/10
2322377/2322377 [==============================] - 85s 36us/step - loss: 0.7319 - acc: 0.6711
Epoch 9/10
2322377/2322377 [==============================] - 86s 37us/step - loss: 0.7308 - acc: 0.6711
Epoch 10/10
2322377/2322377 [==============================] - 84s 36us/step - loss: 0.7300 - acc: 0.6711

In [0]:
model.save("train2.model")

In [0]:
#run this if want to work with pre trained model
#model=keras.models.load_model("train1.model")

In [0]:
ytest = to_categorical(ytest.astype('float32'))

In [17]:
score, acc = model.evaluate(xtest, ytest)

580595/580595 [==============================] - 10s 18us/step

In [18]:
print(score)

0.726917832977671

In [19]:
print(acc*100)

67.2864905829724

In [0]:
d=df[['Astronomical_Twilight', 'Civil_Twilight', 'Humidity(%)', 'Nautical_Twilight', 'Precipitation(in)', 'Pressure(in)', 'Sunrise_Sunset', 'Temperature(F)', 'Visibility(mi)', 'Weather_Condition', 'Wind_Chill(F)', 'Wind_Direction', 'Wind_Speed(mph)', 'Severity']]

In [21]:
d.head()

   Astronomical_Twilight  Civil_Twilight  ...  Wind_Speed(mph)  Severity
0                      1               1  ...          9.77103         3
1                      0               0  ...          4.60000         3
2                      0               0  ...          4.60000         2
3                      0               0  ...          3.50000         2
4                      0               0  ...          8.10000         3

[5 rows x 14 columns]

In [0]:
predx=np.array([[1, 0, 56.0, 0, 0.03, 30.09, 0, 90.78, 7.0, 7, 23.90, 7, 8.9]])

In [0]:
ypred=model.predict(predx).reshape(-1)

In [27]:
print("calss : ", np.argmax(ypred))

calss :  2